* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: fantasy;
    background-color: black;
}
.header{
    height: 80px;
    background-color: rgb(9, 139, 48);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;;

}
.contenedor_foto{
    max-width: 5px;
    margin: 20px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.foto{
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(248, 246, 246);
}
